html{
  font-size:10px;

}
body{

  background-color: #F3F5FF;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  font-weight: 700;
  color: blue;
  font-size: 2em;
  padding-left : 5%;
}

.nav a {
  margin-left: 1.5em;
  text-decoration: none; /* 기본 밑줄 제거 */
  color: black;
  font-size: 1.2em;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}
.bodyInnerText{
  display: flex;
  flex-direction: column; /* 수직 방향으로 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center;     /* 수평 가운데 정렬 */
  text-align: center; /*문자 가운데 정렬 */
  background-color: #4A86FF;
  color:white;
  padding-top:3em;
  padding-bottom: 3em;
  font-size:2.5em;
  width:100%;
}
.about-secction{
  display: flex;;
}

.title {
  text-align: center;
  color: #6c82ff;
  font-size: 3em;
  font-weight: bold;
  margin: 1em 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  padding: 2em;
}

.profile-card {
  background-color: white;
  padding: 2em;
  border-radius: 1.5em;/*모서리는 둥글게*/
  text-align: center;/*가운데 정렬*/
  width: 20em;
  height: 27em;
}

.profile-image {
  width: 11em;
  height: 11em;
  border-radius: 50%;/* 원으로 만듦 */
  object-fit: cover;/* 이미지 비율을 유지하며 잘라냄 */
  margin-bottom: 1em;
}

.profile-name {
  font-weight: bold;/*굵게*/
  font-size: 2em;
  color: #4a86ff;
  margin-bottom: 0.5em;
}

.profile-info {
  font-size: 1.4em;
  color: #484A64;
  text-align: left;/*좌측 정렬*/
  margin-bottom: 0.5em;/*0.5em씩 띄우기*/
}
.profile-infoimg{
  font-size: 1.6em;/*이미지는 조금 더 크게*/
}
.info-grid {
  display: grid;
  /*grid 레이아웃 2행2열의 고정된 영역을 사용하므로*/
  grid-template-columns: repeat(2, minmax(10em, 1fr));
  /*2열을 만들고 각열은 최소 10em, 최대 화면 전체체 */
  gap: 4em;
  /*열과 행 사이 간격*/
}

.info-block h3 {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: bold;/*굵게*/
}

.info-block p {
  font-size: 1.4em;
  line-height: 1.5;
  color: #626682;
}

.hobby {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  gap: 1em; /* 카드 사이 간격 */
  text-align: center;
  padding:1em;
  padding-bottom: 10em;
}

.hobby-card{
  background-color: white;
  text-align: center;/*가운데 정렬*/
  border-radius: 1.5em;
  width: 20em;
  height: 23em;
}
.hobby-info{
  background-color: #4A86FF;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.8em;
}
.hobby-img{
  width: 18em;
  height: 14em;
  border-radius: 0.5em;
  object-fit: cover;/* 이미지 비율을 유지하며 잘라냄 */
  margin-top: 2em;
}