.about{
    display: flex;
    flex-direction: row;
    justify-content: center;/*요소들 중간 배치*/
    gap:4rem;
    padding: 2rem;
    text-align: left;
    
}

.profile h2{
    color:skyblue;
}

.profile img{
    width:9rem;
    height: 12rem;
    border-radius: 50%; /*프로필 동그랗게 만들기*/
}

.information {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2열*/
    grid-template-rows: repeat(2, auto);   /*2행, 높이 자동동*/
    column-gap: 4rem;
    row-gap: 3rem;
}

.information h3{
    margin-top: 4rem;

}


body h1{
    color: skyblue;
    text-align: center;
}