.div{
            background-color: skyblue;
            color:white;
            text-align: center; /*가운데 정렬*/
            padding: 100px; /*상하좌우 100씩 설정*/
            font-size: 1.3rem;
            
        }


header{
    display: flex; /*가로 방향 정렬 */
    justify-content: space-between; /*동일 간격 배치, 요소에 따라 왼쪽 끝, 오른쪽 끝*/
    align-items: center;
    padding: 20px; /*상하좌우 20씩 설정*/
    background-color: white;
  
}

header h1{
    color: skyblue;
}

nav a{
    color:black;
    text-decoration: none; /*밑줄 없애기*/
    font-weight: bold; /*진하게 만들기*/
}

body h3{
    text-align: center;
}






